html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    text-decoration: none;
}

:root {
    --primary-title-color:  #212121;
    --primary-text-color: #757575;
    --background-color-grey: #E5E5E5;
    --color-blue: #2196F3;
    --main-white-color: #FFFFFF;
}

body {
    color: var(--primary-title-color);
    /* background-color: var(--background-color-grey); */
    font-family: Roboto, sans-serif;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

    padding-right: 15px;
    padding-left: 15px;
}

/* оформлення лого */

.logo {
    font-family: Raleway;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.web {
    color: var(--color-blue);
    letter-spacing: 0.03em;
}

.studio {
    color: #000000;
    letter-spacing: 0.03em;
}

.logo:focus {
    color: var(--color-blue);
}

/* Header */

.page-header {
    background-color: var(--main-white-color);
}

header {
    background-color: var(--main-white-color);
}

/* забрала крапочки у всіх списках */

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

/* NAV */

.main-nav {
    display: flex;
    align-items: center;
}

.auth-nav-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
}

/* .auth-nav-list:hover {
    color: #2196F3;
} */

.display-flex {
    display: flex;
    align-items: center;
}

.auth-nav-list .item + .item {
    margin-left: 50px;
}

.site-nav .item + .item {
   margin-left: 50px;
}

.item-icon {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.item:hover .item-icon, .item:focus .item-icon {
    fill: #2196F3;
    color: #2196F3;
}

.site-nav {
    display: flex;
    margin-left: 95px;
}

/* навігація сторінки */
.link {
    position: relative;

    color: var(--primary-title-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.link.current::after {
    content: '';

    position: absolute;

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2%;

    opacity: 1;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}


.link:hover, .link:focus {
    color: #2196F3;
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav a:hover, .site-nav a:focus {
    color: var(--color-blue);

}

.site-nav .link.current {
    color:  var(--color-blue);
}

/* Hero */

.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-left: 450px;
    padding-right: 450px;

    background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
     url(../img/img-hero.jpg);

    background-size: cover;
    background-position: center;

    background-color: #2F303A;

    text-align: center;
}


.hero-title {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--main-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

/* Секції */

.features {
    margin-top: 0;
    padding-top: 95px;
    padding-bottom: 95px;
    /* background-color: var(--background-color-grey); */
}

.features-images {
    margin-top: 0;
    padding-bottom: 95px;
    /* background-color: var(--background-color-grey); */
}

.features-icon {
    background-color: #F5F4FA;
    margin-right: 30px;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.features-list {
    margin-top: 0;
    padding: 0;

    display: inline-flex;
    /* flex-wrap: wrap; */
}

.features-list-item {
    width: 270px;
    margin-right: 30px;
}

/* .features-list-item::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #F5F4FA;
    background-size: contain;
    border-radius: 4px;
} */

/* .social-icon {
    width: 100px;
    height: 100px;
} */

/* .icon-antena::before {
    background-image: url(../img/antena.svg);
}

.icon-clock::before {
    background-image: url(../img/clock.svg);
}

.icon-diagrama::before {
    background-image: url(../img/diagrama.svg);
}

.icon-astronaut::before {
    background-image: url(../img/astronaut1.svg);
}

.features-list-item:last-child {
    margin-right: 0;
} */


.features-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

.features-title-team {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    text-align: center;
}

.features-title-item {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.element {
    width: 370px;
    margin-right: 30px;
}

.element:nth-child(3n){
    margin-right: 0;
}

.element-position {
    position: relative;
}

.element-title-css {
    position: absolute;

    display: flex;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

    bottom: 0;
    left: 0;

    width: 370px;
    height: 70px;

    background-color: rgba(47, 53, 58, 0.8);

    margin: 0;

    opacity: 1;
}

/* .element:hover .element-title-css {
    opacity: 1;

    transition: 250ms;
} */

.features-article {
    margin-top: 0;
    margin-bottom: 10px;

    color:  var(--primary-title-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* TEAM */

.team {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #F5F4FA;
}

.features-title-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.name-flex {
    margin-right: 30px;
    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social-team {
    display: flex;
    padding: 0;

    width: 210px;
    height: 45px;

    margin-top: 16px;
    margin-bottom: 30px;
    margin-right: 32px;
    margin-left: 32px;
}

.social-link-icon {
    fill: #AFB1B8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.social-team:last-child {
    margin-right: 0;
}

.social-link {
    display: inline-flex;

    background-color: #fff;
    border-radius: 50%;

    text-align: center;
    align-items: flex-start;

    width: 45px;
    height: 45px;

    justify-content: center;
    align-items: center;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.social-link:hover .social-link-icon, .social-link:focus .social-link-icon {
    fill: white;
    background-color: #2196F3;
    }

.social-link:hover, .social-link:focus {
    background-color: #2196F3;
}

.features-title-flex .name-flex:last-child {
    margin-right: 0;
}

.team-name {
    margin-top: 30px;
    margin-bottom: 10px;

    color: var(--primary-title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
 }

 .team-occupation {
    margin-top: 0;
    /* margin-bottom: 30px; */

    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
 }

/* CLIENTS  */

 .clients {
     padding-top: 95px;
     padding-bottom: 95px;
      }

.clients-list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
}

.clients-name {
    width: 170px;
    height: 90px;
    margin-right: 30px;
    padding: 20px 65px;
    align-items: center;

    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

}

.clients-name:last-child {
    margin-right: 0;
    padding: 20px 40px;
    align-items: center;
}

.clients-name-icon {
    fill: #AFB1B8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.clients-name:hover, .clients-name:focus {
    border-color:  #2196F3;
}

.clients-name:hover .clients-name-icon,
.clients-name:focus .clients-name-icon {
   fill: #2196F3;
}

/* OUR works */

.works {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
}

.works-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #eeeeee;

}

.works-element:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.works-element-blue {
    position: relative;

    overflow: hidden;
}

.works-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    /* opacity: 0; */

    transform: translateY(100%);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.works-element:hover .works-overlay {
    transform: translateY(0);
}

/* .works-element-blue:hover::before {
    opacity: 1;
} */

.works-description {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    /* opacity: 0; */

    width: 322px;
    height: 168px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;

    margin: 0;
    padding: 0;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.works-element-blue .works-description:hover {
    opacity: 1;
}

.works-element:nth-child(3n) {
    margin-right: 0;
}

.works-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.team-works {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;

    color: var(--primary-title-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.team-web {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;

    color: var(--primary-text-color);

   font-weight: 400;
    font-size: 16px;
    line-height: 1.86;
}

.button {
    display: inline-block;

    border-radius: 4px;
    padding: 10px 32px;
    width: 200px;
    height: 50px;
    border: 1px solid transparent;

    color: var(--main-white-color);
    background-color:  var(--color-blue);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.14;

    align-items: center;
    text-align: center;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color:  var(--color-blue);
}

.button-portfolio {
    display: inline-block;

    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;

    text-align: center;
    border: 1px solid transparent;

    color: var(--primary-title-color);
    background-color:  #F5F4FA;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.btn-portfolio .button-portfolio:not(:last-child) {
    margin-right: 8px;
}

/* .btn-portfolio:last-child {
    margin-right: 0;
}  */

.button-portfolio:hover, .button-portfolio:focus {
    background-color:  var(--color-blue);
}

.btn-portfolio {
    display: flex;
    flex-wrap: wrap;

    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 280px;
}

/* footer */

footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
    color: var(--main-white-color);
}

.footer {
    display: flex;
    flex-wrap: wrap;
}

.studio-footer {
    color: var(--main-white-color);
}

address {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--main-white-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

address:hover, address:focus {
    color:  var(--color-blue);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.footer-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.contact {
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.contact:hover, .contact:focus {
    color:  var(--color-blue);
}

.contact-block {

    padding-right: 15px;
    padding-left: 15px;
    /* margin-top: 0;
    margin-bottom: 0; */
}

.contact-block-title {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.social {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;

    width: 45px;
    height: 45px;
}

.social-display {
    display: flex;
    padding: 0;
}

.social-icon {
    display: inline-flex;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #FFFFFF;

    /* text-align: center;
    align-items: flex-start; */
    border: none;

    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 100px;

    justify-content: center;
    align-items: center;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
    background-color: #2196F3;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;

    background-color: #fff;

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
    display: flex;
    flex-direction: column;

    width: 530px;
    height: 580px;
    outline: 1px solid violet;
}

.form-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    /* text-align: center; */

    color: #212121;

    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;

    margin: 0;
}

.form-field {
    position: relative;
    display: flexbox;
    /* flex-direction: column; */
    margin-bottom: 10px;
}

.form-text {
    position: relative;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    color: #757575;

    margin-bottom: 4px;
    padding-left: 40px;
}

.form-field label {
    margin-bottom: 5px;
}

.form-input {
    width: 450px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 45px;
}

.form-icon {
    position: absolute;

    top: 50%;
    left: 12px;
    margin-left: 45px;
}

.form-field:focus-within .form-text {
    transform: translate(-50%);
}

.text-comment {
    margin-top: 10px;

    margin-right: 40px;
}

.form-message {
    display: block;

    width: 450px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(117, 117, 117, 0.5);

    padding: 12px 16px;
    margin-left: 45px;
}


.form-input:focus,
.form-message:focus {
    outline: none;
    border: 1px solid  #2196f3;
}

.form-input:focus + .form-icon {
    fill:  #2196f3;
}

.information-field-wrapper {
    position: relative;

    margin-top: 20px;
    margin-left: 55px;
}

.form-field textarea {
    margin-left: 40px;
}

.agreement-policy {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
     font-size: 14px;
    line-height: 1.71;
}

.agreement-terms {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: underline;
}

.information-form-btn {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.06em;
    color: #ffffff;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 56px;
}

.close {
    position: absolute;

    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: #fff;
}

.subscription {
    padding-left: 130px;
}

.subscribe-form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
}

.form-field-subscription {
  position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: left;
    border-style: none;
    background-color:  #2196f3;
    border-radius: 4px;
    cursor: pointer;
  }
  .subscribe-button::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 4px;*/
  }

  .iconsend::after {
    background-image: url(../svg/send.svg);
  }
