.logo {
    font-family: Raleway;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    @media screen and (min-width: 480px) {
        width: 480px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 15px;
    }
}

.web {
    color: $color-blue;
    letter-spacing: 0.03em;
}

.studio {
    color: #000000;
    letter-spacing: 0.03em;
}

.logo:focus {
    color: $color-blue;
}