footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
    color: $main-white-color;

}

.footer {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.studio-footer {
    color: $main-white-color;
}

address {
    margin-top: 20px;
    margin-bottom: 10px;

    color: $main-white-color;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    &:hover, 
    &:focus {
        color:  $color-blue;

        transition-duration: $duration;
        transition-timing-function: $cubic;
    }
}

// address:hover, address:focus {
//     color:  $color-blue;

//     transition-duration: $duration;
//     transition-timing-function: $cubic;
// }

.footer-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.contact {
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    transition-duration: $duration;
    transition-timing-function: $cubic;

    &:hover,
    &:focus {
        color:  $color-blue;
    }

    @media screen and (min-width: 768px) { 
        &:last-child {
            padding-bottom: 0;
        }
    }
}

// .contact:hover, .contact:focus {
//     color:  $color-blue;
// }

.contact-block {
    padding-left: 15px;
    
    @media screen and (min-width: 480px) {
        padding-left: 0;
        display: block;
        text-align: center;        
    }

    @media screen and (min-width: 768px) {
        margin-right: 165px;  
        margin-left: 76px;     
    }

    @media screen and (min-width: 1140px) {
        margin-right: 70px;  
        margin-left: 0;     
    }
}

.join-block-title {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
        display: block;
        text-align: center;    
        margin-top: 60px; 
    }

    @media screen and (min-width: 768px) {
        display: block;
        text-align: center;    
        margin-top: 0;
    }
}

.footer-container {
    // display: flex;
    // flex-wrap: wrap;

    @media screen and (min-width: 480px) {
        display: block;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.join-block {
    padding-left: 70px;
    
    @media screen and (min-width: 480px) {
        padding-left: 0;
        text-align: center;
        display: block;

        margin-bottom: 60px;
    }
}

.social {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;

    width: 45px;
    height: 45px;
}

.social-display {
    display: flex;
    padding: 0;

    @media screen and (min-width: 480px) {
        text-align: center;
        justify-content: center;
    }
}

.social-icon {
    display: inline-flex;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: $main-white-color;

    /* text-align: center;
    align-items: flex-start; */
    border: none;

    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-top: 20px;
    // margin-bottom: 100px;

    justify-content: center;
    align-items: center;

    transition-duration: $duration;
    transition-timing-function: $cubic;

    &:hover,
    &:focus {
        background-color: $color-blue;
    }
}

// .social-icon:hover,
// .social-icon:focus {
//     background-color: $color-blue;
// }

.subscription {
    padding-left: 95px;

    @media screen and (min-width: 480px) {
        padding-left: 0;
    }
}

.contact-block-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.subscribe-form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $main-white-color;

    @media screen and (min-width: 480px) {
        width: 450px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 160px;
    }

    @media screen and (min-width: 1140px) {
        width: 358px;
        margin-left: 55px;
    }
}

.form-field-subscription {
    // position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}

.subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 1.143;
    letter-spacing: 0.06em;
    color: $main-white-color;
    text-align: left;
    border-style: none;
    background-color:  $color-blue;
    border-radius: 4px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        margin-left: 290px;
    }

    @media screen and (min-width: 1140px) {
        margin-left: 12px;
    }
    
  }

  .subscribe-button::after {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    /*border-radius: 4px;*/
  }

  .iconsend::after {
    background-image: url(../svg/send.svg);
  }