/* Hero */

.hero {
    // max-width: 1600px;
    // height: 600px;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 200px;
    // padding-left: 450px;
    // padding-right: 450px;

    @media screen and (min-width: 480px) {
        width: 480px;
        height: 400px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 400px;
    }

    @media screen and (min-width: 1140px) {
        width: 1600px;
        height: 600px;
    }
   
    background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), 
     url(../img/img-hero.jpg);

    background-size: cover;
    background-position: center;

    background-color: #2F303A;

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/retina/hero/hero-tablet.jpg);
      }

      @media screen and (min-width: 1140px) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/retina/hero/hero-desktop.jpg);
      }

    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 0;
    
    color: $main-white-color;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    @media screen and (min-width: 480px) {
        padding-top: 120px;
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 30px;

        font-size: 26px;
        line-height: 1.62;
        text-transform: uppercase;
    }

    @media screen and (min-width: 1140px) {
        padding-top: 225px;
        padding-right: 450px;
        padding-left: 450px;
        padding-bottom: 30px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    }
}

.button {
    display: inline-block;

    border-radius: 4px;
    padding: 10px 32px;
    width: 200px;
    height: 50px;
    border: 1px solid transparent;

    color: $main-white-color;
    background-color:  $color-blue;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.14;

    align-items: center;
    text-align: center;

    transition-duration: $duration;
    transition-timing-function: $cubic;
}

.button:hover, .button:focus {
    background-color:  $color-blue;
}