.page-header {
    background-color: $main-white-color;
    position: relative;
}

header {
    background-color: $main-white-color;
}

/* забрала крапочки у всіх списках */

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

/* NAV */

.main-nav {
    // display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

// .menu-button {
//     display: none;
//     margin: 10px 15px 10px 0px;
//     padding: 0;
//     border: none;
//     background-color: transparent;

//     @media screen and (min-width: 320px) {
//         display: block;
//     }

//     @media screen and (min-width: 480px) {
//         display: block;
//     }
// }

// .menu-container {
//     display: none;

//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;

//     height: 453px;

//     background-color: palegoldenrod;
//     padding: 20px;
//     text-align: center;
//     font-size: 20px;

//     &is-open {
//         display: block;
//     }
// }

.auth-nav-list {
    margin-top: 0;
    margin-bottom: 0;
    display: none;

    @media screen and (min-width: 767px) {
        display: flex;
    }

    @media screen and (min-width: 767px) {
        display: block;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1140px) {
        display: flex;
        margin-left: 300px;
        padding: 0;
    }
}

.display-flex {
    display: flex;
    // justify-content: space-between;
    margin-right: 16px;

    @media screen and (min-width: 320px) {
        width: 320px;
        height: 60px;
    }

    @media screen and (min-width: 480px) {
        width: 480px;
        height: 60px;
    }

    // @media screen and (min-width: 1140px) {
    //    margin-left: 120px;
    // }

    align-items: center;
}

.auth-nav-list .item + .item {
    margin-left: 50px;

    @media screen and (min-width: 768px) and (max-width: 1139px) {
        margin-left: 0;
    }
}

.auth-nav-list .link {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;

    @media screen and (min-width: 1140px) {
        font-size: 12px;
        line-height: 1.17;
    }
}

.site-nav .item + .item {
   margin-left: 50px;
}

.item-icon {
    justify-content: center;
    align-items: center;
    align-content: center;

    .item:hover &, .item:focus & {
        fill: $color-blue;
        color: $color-blue;
    }
}

.item {
    transition-duration: $duration;
    transition-timing-function: $cubic;
}


.site-nav {
    display: none;
    margin-left: 95px;

    @media screen and (min-width: 767px) {
        display: flex;
    }

    @media screen and (min-width: 768px) {
        margin-left: 20px;
    }
}

/* навігація сторінки */

.link {
    // position: relative;

    color: $primary-title-color;

    transition-duration: $duration;
    transition-timing-function: $cubic;
    

    &:hover,
    &:focus {
        color: $color-blue;
    }
}

.link.current::after {
    content: '';

    // position: absolute;

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: $color-blue;
    border-radius: 2%;

    opacity: 1;

    transition-duration: $duration;
    transition-timing-function: $cubic;
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav a:hover, .site-nav a:focus {
    color: $color-blue;
}

.site-nav .link.current {
    color:  $color-blue;
}

