.features {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: $background-color-grey; */

}

.works {
    // display: flex;
    // flex-wrap: wrap;

    padding: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.works-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #eeeeee;

    &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 768px) {
        &:nth-child(2n) {
            margin-right: 0;
         }
    }

    @media screen and (min-width: 768px) {
        &:last-child {
            margin-bottom: 0;
         }
    }
}

.works-element:hover {
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.works-element-blue {
    position: relative;

    overflow: hidden;
}

.works-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    /* opacity: 0; */

    transform: translateY(100%);

    transition-duration: $duration;
    transition-timing-function: $cubic;

    .works-element:hover & {
        transform: translateY(0);
    }
}

// .works-element:hover .works-overlay {
//     transform: translateY(0);
// }

/* .works-element-blue:hover::before {
    opacity: 1;
} */

.works-description {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    /* opacity: 0; */

    width: 322px;
    height: 168px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $main-white-color;

    margin: 0;
    padding: 0;

    transition-duration: $duration;
    transition-timing-function: $cubic;
}

.works-element-blue .works-description:hover {
    opacity: 1;
}

// .works-element:nth-child(3n) {
//     margin-right: 0;
// }

// .works-element:nth-last-child(-n + 3) {
//     margin-bottom: 0;
// }

.team-works {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;

    color: $primary-title-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.team-web {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;

    color: $primary-text-color;

   font-weight: 400;
    font-size: 16px;
    line-height: 1.86;
}

.button-portfolio {
    display: inline-block;

    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;

    text-align: center;
    border: 1px solid transparent;

    color: $primary-title-color;
    background-color:  #F5F4FA;

    transition-duration: $duration;
    transition-timing-function: $cubic;

    &:hover,
    &:focus {
        background-color:  $color-blue;
    }

    @media screen and (min-width: 320px) {
        margin-bottom: 15px;
    }

    @media screen and (min-width: 320px) {
        &:nth-child(n + 4) {
            margin-bottom: 0;
         }
    }
}

.btn-portfolio .button-portfolio:not(:last-child) {
    margin-right: 8px;
}

// .button-portfolio:hover, .button-portfolio:focus {
//     background-color:  $color-blue;
// }

.btn-portfolio {
    display: flex;
    flex-wrap: wrap;

    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 280px;

    @media screen and (min-width: 320px) {
        padding: 0;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 75px;
        margin-bottom: 40px;
    }
}