$box-sizing: border-box;
$text-decoration: none;
$font-family: Roboto, sans-serif;

$primary-title-color:  #212121;
$primary-text-color: #757575;
$background-color-grey: #E5E5E5;
$color-blue: #2196F3;
$main-white-color: #FFFFFF;

$duration: 250ms;
$cubic: cubic-bezier (0.4, 0, 0.2, 1);

